.copyright {
    -fx-font-weight: bold;
}

.keyword {
    -fx-font-family: monospace;
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-family: monospace;
    -fx-font-weight: bold;
}

.string {
    -fx-font-family: monospace;
    -fx-fill: blue;
}

.number {
    -fx-font-family: monospace;
    -fx-fill: orangered;
}
