.copyright {
    -fx-font-weight: bold;
}

.syntax {
    -fx-font-family: monospace;
}

.keyword {
    -fx-fill: purple;
    -fx-font-weight: bold;
}

.semicolon {
    -fx-font-weight: bold;
}

.string {
    -fx-fill: blue;
}

.number {
    -fx-fill: darkorange;
}

.obfuscated {
    -fx-fill: red;
}

.deobfuscated {
    -fx-fill: green;
}
