# Jamie Mansfield <jmansfield@cadixdev.org>
<jmansfield@cadixdev.org> <dev@jamierocks.uk>
<jmansfield@cadixdev.org> <malgm@lapis.blue>
<jmansfield@cadixdev.org> <jamie.mansfield.jm@gmail.com>

# Max Roncace <me@caseif.net>
Max Roncace <me@caseif.net>

# Minecrell <minecrell@minecrell.net>
<minecrell@minecrell.net> <dev@minecrell.net>

# Una Thompson <una@unascribed.com>
Una Thompson <una@unascribed.com> <aesen@unascribed.com>
